section.about.section
    div.container
        div.about-content
            div.about-top
                figure.about__img
                    img(src="./assets/image/pic1.jpg", alt="about-img")
            div.about-bottom
                +heading("About Us","Build Your Business Website Better")
                p.decs Proin laoreet leo vel enim gravida, at porttitor metus ultricies. Cras eu velit enim. Vivamus blandit, dolor ut aliquet rutrum, ex elit mattis sapien, non molestie felis neque et nulla. Sed euismod turpis id nibh suscipit semper. Pellentesque dapibus risus arcu.
                div.about__menu
                        ul.about__list
                            li.about__item
                                span.about__icon
                                    i.fa-solid.fa-check
                                span.about__text We support programs that create advancement opportunities for people.
                            li.about__item
                                span.about__icon 
                                    i.fa-solid.fa-check
                                span.about__text Get a view of events and trends. Be updated on our recent news.
                            li.about__item
                                span.about__icon 
                                    i.fa-solid.fa-check
                                span.about__text Finally, it all comes down to people. Creating a winning team. 
                            li.about__item
                                span.about__icon 
                                    i.fa-solid.fa-check
                                span.about__text Get a view of events and trends. Be updated on our recent news.
                        a.btn(href="#!") Learn more
                        