section.banner 
    div.container
        div.content
            div.banner-top
                +heading("We are The Best","Freelance Product Designer Running")
                p.decs.wow.animate__fadeInUp(data-wow-delay="1.5s") We develop the relationships that underpin the next phase in your <br> organisation’s growth.
                    
                div.banner__menu
                    ul.banner__list.wow.animate__fadeInUp(data-wow-delay="2s")
                        li.banner__item
                            span.banner__icon
                                i.fa-solid.fa-check
                            span.banner__text Master's degree in designing
                        li.banner__item
                            span.banner__icon 
                                i.fa-solid.fa-check
                            span.banner__text Outstanding mobile design 
                a.btn.wow.animate__fadeInUp(data-wow-delay="2.5s",href="#!") Get started

            div.banner-bottom
                img.wow.animate__fadeInUp(data-wow-delay="2s")(src="./assets/image/pic3_1.png", alt="")
                figure.banner__extra
                    img.wow.animate__zoomIn(data-wow-delay="2.5s")(src="./assets/image/pic3_1_1.png", alt="")