section.banner 
    div.container
        div.content
            div.banner-top
                +heading("We are The Best","Freelance Product Designer Running")
                p.decs We develop the relationships that underpin the next phase in your <br> organisation’s growth.
                    
                div.banner__menu
                    ul.banner__list
                        li.banner__item
                            span.banner__icon
                                i.fa-solid.fa-check
                            span.banner__text Master's degree in designing
                        li.banner__item
                            span.banner__icon 
                                i.fa-solid.fa-check
                            span.banner__text Outstanding mobile design 
                a.btn(href="#!") Get started

            div.banner-bottom
                img(src="./assets/image/pic3_1.png", alt="")
                figure.banner__extra
                    img(src="./assets/image/pic3_1_1.png", alt="")