section.blogs.section
    div.container
        +headingCenter("Our Blog","Latest News & Blog")
        div.blogs__content.owl-carousel
            +blogsItem("./assets/image/pic1_1.jpg","Reasons Why You Shouldn’t Rely On.","Nunc convallis sagittis dui eu dictum. Cras sodales id ipsum ac aliquam. Phasellus justo quam.","25 March 2021"," Johne Doe")
            +blogsItem("./assets/image/pic2.jpg","Maecenas maximus augue eget libero dictum.","Nunc convallis sagittis dui eu dictum. Cras sodales id ipsum ac aliquam. Phasellus justo quam.","25 March 2021"," Johne Doe")
            +blogsItem("./assets/image/pic3.jpg","Reasons Why You Shouldn’t Rely On.","Nunc convallis sagittis dui eu dictum. Cras sodales id ipsum ac aliquam. Phasellus justo quam.","25 March 2021"," Johne Doe")