section.brand.section
    div.container
        div.brand__content.your-class
            +logoItem("./assets/image/logo-pink1.png","./assets/image/logo-light1.png")
            +logoItem("./assets/image/logo-pink2.png","./assets/image/logo-light2.png")
            +logoItem("./assets/image/logo-pink3.png","./assets/image/logo-light3.png")
            +logoItem("./assets/image/logo-pink4.png","./assets/image/logo-light4.png")
            +logoItem("./assets/image/logo-pink5.png","./assets/image/logo-light5.png")
            +logoItem("./assets/image/logo-pink6.png","./assets/image/logo-light6.png")
