section.features.section    
    div.container
        div.features__content
            div.features-top
                +heading("Our Features","Behind The Story Of Samar Agency")
                div.features__menu
                    +featuresItem("flaticon-idea","Idea & Analysis Gathering","Maecenas laoreet efficitur sagittis. Aliquam eleifend nisl leo, sit amet consequat augue.")
                    +featuresItem("flaticon-coding","Idea & Analysis Gathering","Maecenas laoreet efficitur sagittis. Aliquam eleifend nisl leo, sit amet consequat augue.")
                    +featuresItem("flaticon-rocket","Idea & Analysis Gathering","Maecenas laoreet efficitur sagittis. Aliquam eleifend nisl leo, sit amet consequat augue.")
            div.features-bottom
                img(src="./assets/image/pic3.png", alt="...")