header.header 
    div.container 
        div.body
            //- Logo
            a.logo(href="#!")
                img(src="./assets/image/logo-2.png", alt="samar")
            //- Navbar
            nav.nav 
                ul.nav__list
                    li.nav__item
                        a.nav__link.active(href="#!") 
                            span.nav__text Home
                            span.nav__icon 
                                i.fa-solid.fa-angle-down
                    li.nav__item
                        a.nav__link(href="#!") 
                            span.nav__text Pages
                            span.nav__icon 
                                i.fa-solid.fa-angle-down
                    li.nav__item
                        a.nav__link(href="#!") 
                            span.nav__text Services
                            span.nav__icon 
                                i.fa-solid.fa-angle-down
                    li.nav__item
                        a.nav__link(href="#!") 
                            span.nav__text Post Layouts
                            span.nav__icon 
                                i.fa-solid.fa-angle-down
                    li.nav__item
                        a.nav__link(href="#!") 
                            span.nav__text Blog
                            span.nav__icon 
                                i.fa-solid.fa-angle-down
                    li.nav__item
                        a.nav__link(href="#!") 
                            span.nav__text Contact Us
                            span.nav__icon 
                                i.fa-solid.fa-angle-down
            //-Action
            a.btn Get A Quote
            input(type="checkbox" id="header__toggle")
            //- Button bars 
            label.header__toggle(for="header__toggle")
                i.fa-solid.fa-bars
            //- Button close
            label.header__close(for="header__toggle")  
                i.fa-solid.fa-xmark
            //- Overlay
            label.header__overlay(for="header__toggle") 
            //- Sidebar
            div.sidebar
                div.sidebar__header
                    a.sidebar__header-logo.logo(href="#!") 
                        img(src="./assets/image/logo-2.png", alt="samar")
                nav.sidebar__nav 
                    ul.menu
                    li.menu__item.active
                        a.menu__link(href="#!") 
                            span Home
                            span.menu__icon 
                                i.fa-solid.fa-angle-right
                    li.menu__item
                        a.menu__link(href="#!") 
                            span Pages
                            span.menu__icon 
                                i.fa-solid.fa-angle-right
                    li.menu__item
                        a.menu__link(href="#!") 
                            span Services
                            span.menu__icon 
                                i.fa-solid.fa-angle-right
                    li.menu__item
                        a.menu__link(href="#!") 
                            span Post Layouts
                            span.menu__icon 
                                i.fa-solid.fa-angle-right
                    li.menu__item
                        a.menu__link(href="#!") 
                            span Blog
                            span.menu__icon 
                                i.fa-solid.fa-angle-right
                    li.menu__item
                        a.menu__link(href="#!") 
                            span Contact Us
                            span.menu__icon 
                                i.fa-solid.fa-angle-right
        
