include ./mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //-LightGalerry
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-autoplay.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-fullscreen.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-medium-zoom.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-thumbnail.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-comments.min.css')
    
        //- Animate CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")

        //- Owl Carousel 
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css')

        //- Swiper
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")

        //- Slick Slider
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")

        //- Google Font
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap' rel='stylesheet')

        //- Font Awesome
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet", href="./assets/flaticon/owl.carousel.min.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css')

        //- Bootstrap V4
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css' integrity='sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N' crossorigin='anonymous')

        //- My CSS
        link(rel="stylesheet", href="./assets/css/style.css")
        
        title Samar

        //- Favicon
        <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="./assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    body 

        include ./header
        include ./banner
        include ./services
        include ./about
        include ./number
        include ./features
        include ./portfolio
        include ./plan
        include ./testimonial
        include ./blogs
        include ./brand
        include ./footer

        button.back-to-top#back-to-top 
            i.fa.fa-arrow-up

        //- Jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        //- -------------Waypoints JS-------------------
        script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
        //- -------------Counter up JS-------------------
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js')
        script.
            $('.counter').counterUp({
            delay: 10,
            time: 3000
            });
        //- --------------WoW JS---------------
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
        script.
            wow = new WOW(
                {
                    boxClass:     'wow',      
                    animateClass: 'animate__animated', 
                    offset:       0,          
                    mobile:       true,       
                    live:         true        
                }
                )
                wow.init();
        //- BS V4
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js')


        //- --------------LightGallery JS---------------
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/autoplay/lg-autoplay.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/comment/lg-comment.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/fullscreen/lg-fullscreen.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/mediumZoom/lg-medium-zoom.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/pager/lg-pager.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/thumbnail/lg-thumbnail.min.js')
        script.
            lightGallery(document.getElementById("lightgallery"), {
            selector: ".lightimg",
            plugins: [lgThumbnail, lgAutoplay],
            alignThumbnails: "left",
            loop: true,
            allowMediaOverlap: true,
            toggleThumb: true,
            showZoomInOutIcons: true,
            actualSize: false,
            exThumbImage: "data-exthumbimage"
            });
        

        

        //- ---------------Swiper JS---------------------
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js')
        script.
            var testimonialThumbs = new Swiper(".testimonial__clients", {
            spaceBetween: 10,
            slidesPerView: 3,
            centeredSlides: true,
            freeMode: true,
            autoplay: true,
            loop: true,
            speed: 3000,
            });
            var testimonialContent = new Swiper(".testimonial__articles", {
            spaceBetween: 10,
            autoplay: true,
            loop: true,
            speed: 3000,
            thumbs: {
            swiper: testimonialThumbs
            },
            pagination: {
            el: ".swiper-pagination",
            clickable: true
            }
            });

        //- ---------------Owl Carouse-----------------
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
        script.
            $(document).ready(function(){
                $(".owl-carousel").owlCarousel({
                loop:true,
                nav:false,
                dots:false,
                autoplay:true,
                autoplaySpeed:3000,
                margin:30,
                slideTransition:`linear`,
                responsive:{
                0:{
                items:1
                },
                768:{
                items:2
                },
                992:{
                items:3
                }
                }
                });
            });
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
        
        //- ---------------Slick JS-----------------
        script(type='text/javascript').
            $(document).ready(function(){
            $('.your-class').slick({
            autoplay:true,
            autoplaySpeed:3000,
            arrows:false,
            dots:false ,
            initialSlide:6,
            draggable:true,
            responsive: [
            {
            breakpoint: 1800,
            settings: {
                centerPadding: '40px',
                slidesToShow: 5
            }
            },
            {
            breakpoint: 767,
            settings: {
                centerPadding: '30px',
                slidesToShow: 4
            }
            },
            {
            breakpoint: 576,
            settings: {
                centerPadding: '10px',
                slidesToShow: 2
            }
            }
            ]
            });
            });
    
        //- ---------------Animate Header-----------------
        script.
            $(document).ready(function(){
                $(window).scroll(function(){
                    if($(this).scrollTop()>0){
                        $("#header").addClass("header-extra")
                    }else{
                        $("#header").removeClass("header-extra")
                    }
                });
            });

        
        //- ---------------Back to Top-----------------
        script.
            $(document).ready(function(){
                $(window).scroll(function(){
                    if($(this).scrollTop()>0){
                        $("#back-to-top").fadeIn();
                    }else {
                        $("#back-to-top").fadeOut();
                    }
                });
                $("#back-to-top").click(function(){
                    $("html , body").animate({
                        "scrollTop":0,
                    },1000)
                });
            });


