section.number
    div.container
        div.number__content
            +numberItem("flaticon-smile","18"," ml","Satisfied Clients")
            +numberItem("flaticon-line-chart","20"," ml","Project Completed")
            +numberItem("flaticon-startup","30"," ml","Project Lunched")
            +numberItem("flaticon-confetti","50","","Years Completed")
            