section.services.section
    div.container
        div.services-top
            +headingCenter("What We Do Best","Our Digital Services")
        div.services-bottom
            div.services__list
                +servicesItem("./assets/image/pic1_3.jpg","Web Development","Vestibulum a efficitur ex. Ut iaculis dapibus iaculis. Praesent lacus magna, rhoncus quis magna quis.")
                +servicesItem("./assets/image/pic2_2.jpg","Strategy & Research","Vestibulum a efficitur ex. Ut iaculis dapibus iaculis. Praesent lacus magna, rhoncus quis magna quis.")
                +servicesItem("./assets/image/pic3_2.jpg","Growth Tracking","Vestibulum a efficitur ex. Ut iaculis dapibus iaculis. Praesent lacus magna, rhoncus quis magna quis.")