section.testimonial.section
    div.container
        +headingCenter("Testimonial","What Our Clients Say’s")
        div.row
            div.col-sm-12.pb-5
                div.testimonial__clients
                    div.swiper-wrapper
                        +clientsItem("./assets/image/pic1_4.jpg")
                        +clientsItem("./assets/image/pic2_3.jpg")
                        +clientsItem("./assets/image/pic3_3.jpg")
                div.testimonial__articles
                    div.swiper-wrapper
                        +articlesItem("Cak Dikin","CEO & Founder ","Duis feugiat est tincidunt ligula maximus convallis. Aenean ultricies, mi non vestibulum auctor, erat tortor porttitor ipsum, nec dictum tortor sem eget nunc. Etiam sed facilisis erat.")
                        +articlesItem("Cak Dikin","CEO & Founder ","Duis feugiat est tincidunt ligula maximus convallis. Aenean ultricies, mi non vestibulum auctor, erat tortor porttitor ipsum, nec dictum tortor sem eget nunc. Etiam sed facilisis erat.")
                        +articlesItem("Cak Dikin","CEO & Founder ","Duis feugiat est tincidunt ligula maximus convallis. Aenean ultricies, mi non vestibulum auctor, erat tortor porttitor ipsum, nec dictum tortor sem eget nunc. Etiam sed facilisis erat.")
                    div.swiper-pagination
                        span.swiper-pagination-bullet 
                        span.swiper-pagination-bullet 
                        span.swiper-pagination-bullet 
