.banner {
  background-image: url("/assets/image/pic2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  padding-top: 120px;
  &-top {
    margin-bottom: 30px;
  }
  &__list {
    margin-bottom: 20px;
  }
  &__item {
    list-style: none;
    padding: 10px 5px 0 0;
    @include flexBox(center);
    gap: 10px;
  }
  &__icon {
    @include text(2.4rem, 500, #fff);
    @include size(35px);
    @include flexBox(center, center);
    padding: 10px;
    border-radius: 50%;
    background-image: $gradient-hover;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: normal;
    color: $secondary-color;
  }

  &-bottom {
    position: relative;
    width: 70%;
    margin: 0 auto;
    z-index: -1;
  }

  &__extra {
    position: absolute;
    height: 100%;
    top: 0;
    @include flexBox(center, center);
    animation: roteMove 5s infinite;
    img {
      transform: scale(1.4);
    }
  }
}
@keyframes roteMove {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

@include minWidth(576px) {
  .banner {
    &-bottom {
      width: 60%;
    }
    &-top {
      width: 510px;
    }
  }
}

@include bothWidth(768px, 991px) {
  .banner {
    &-top {
      width: 690px;
    }
  }
}

@include minWidth(992px) {
  .banner {
    padding-top: 180px;
    .content {
      @include flexBox(center);
    }
    &-bottom {
      width: 35%;
    }
  }
}
@include minWidth(1200px) {
  .banner {
    .content {
      gap: 20px;
    }
    &-top {
      width: 70%;
    }
    &-bottom {
      width: 45%;
    }
    &__text {
      font-size: 2rem;
    }
  }
}
