.features {
  background-image: url("/assets/image/bg2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &__item {
    display: flex;
    gap: 20px;
    padding: 30px 20px 30px 15px;
    box-shadow: 0 0px 60px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
    transition: all linear 0.4s;
    margin-bottom: 30px;
    &:hover {
      background-image: $gradient;
      background-size: 200%;
    }

    &:hover .features__decs,
    &:hover .features__icon,
    &:hover .features__subject {
      color: white;
    }
  }

  &__icon {
    @include size(65px);
    @include text(6.5rem, 100, $hover-color);

    font-size: 65px;
    color: $hover-color;
    font-weight: 100;
    transition: all linear 0.4s;
  }
  &__subject {
    @include text(2rem, 800, $secondary-font);
    margin-bottom: 10px;
    transition: all linear 0.4s;
  }

  &__decs {
    @include text(1.6rem, 500, $secondary-font);
    line-height: 1.6;
  }
  &-bottom {
    display: none;
  }
}

@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@media only screen and (min-width: 768px) {
  .features {
    &__item:first-of-type,
    &__item:last-of-type {
      margin-right: 50px;
    }
    &__item:nth-of-type(2) {
      margin-left: 50px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .features {
    &__item-right {
      max-width: 354px;
    }
    .title {
      font-size: 6rem;
    }
    &__content {
      @include flexBox(center);
      gap: 25px;
    }
    &-top,
    &-bottom {
      width: 50%;
    }

    &-bottom {
      display: block;
      animation: move infinite 5s;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .features {
    &__subject {
      font-size: 2.5rem;
    }
  }
}
