.services {
  background-image: url("/assets/image/bg2.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &__item {
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform linear 0.5s;
    &:hover {
      transform: translateY(-20px);
    }
  }

  &__item--img {
    margin-bottom: 25px;
    margin-inline: auto;
    width: 215px;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__item--title {
    margin-bottom: 15px;
    @include text(2rem, 700, $secondary-color);
  }
  &__item--decs {
    @include text(1.6rem, 400, $secondary-color);
    line-height: 1.6;
  }
}

@include minWidth(576px) {
  .services {
    &__list {
      @include flexBox(stretch, center, row, wrap);
      column-gap: 30px;
    }

    &-bottom {
      margin-top: 30px;
    }
  }
}
@include minWidth(768px) {
  .services {
    &__item {
      width: calc((100% - 30px) / 2);
    }
  }
}

@include minWidth(992px) {
  .services {
    &__list {
      @include flexBox(stretch, center);
      column-gap: 30px;
    }
    &__item {
      width: calc((100% - 60px) / 3);
    }
    &-bottom {
      margin-top: 40px;
    }
  }
}
@include minWidth(1200px) {
  .services {
    &-bottom {
      margin-top: 50px;
    }
  }
}
